@tailwind base;
@layer base {
  .logo {
    @apply text-transparent;
    @apply bg-clip-text;
    @apply bg-gradient-to-r;
    @apply from-purple-700;
    @apply from-20%;
    @apply via-purple-500;
    @apply via-10%;
    @apply to-orange-400;
    @apply to-70%;
    @apply drop-shadow-md;
  }
  .modal {
    @apply absolute;
    @apply top-1/2;
    @apply left-1/2;
    @apply transform;
    @apply -translate-x-1/2;
    @apply -translate-y-1/2;
    @apply bg-slate-800;
    @apply text-white;
    @apply shadow-md;
    @apply rounded-lg;
  }
  /* latin */
  @font-face {
    font-family: 'Playball';
    font-weight: 400;
    font-display: swap;
    src: url(/TK3gWksYAxQ7jbsKcg8Eneo.woff2) format('woff2');
  }
  .playball-regular {
    font-family: 'Playball', cursive;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: red;
  }
}
@tailwind components;
@tailwind utilities;
